{{ define "pageContent" }}
      <div class="m-8 mt-24 lg:mx-32 rounded overflow-hidden shadow-lg p-8 border-l-4 border-blue">
        <p class="text-3xl font-semibold mb-8">Devices Strategy</p>
        <p class="text-grey-darker text-base leading-loose text-lg">
          I was a high schooler when myspace came into existence. This was an
          important time for a new ingredient to be added into my milieu. Like
          many teens, I struggled with the rules that existed in a very lord
          of the flies time of life. There is much commentary on social media
          today, and even scientific studies about the effect on one’s brain
          to have so many relationships in this digital reality. However, at
          the time, myspace seemed to be owned by other teen’s like myself,
          and we were deciding what role it would play in our complex social
          structures. For me, it was pretty simple, I would hop on a plane
          multiple times a year, and head to Salisbury, CT from Bozeman, MT to
          attend high school. My primary circle of friends was in Montana, and
          myspace served as a lifeline to still be part of what was happening
          where other people could see my activity. They could see my pictures
          and who I spent time with. This was one of the most important
          aspects of high school social rules. Rather than thinking about who
          you like and what interests you have, relationships were often about
          how spending time with that person or group of people made you seem
          to those in the social class just above you. Of course, there were
          many blessed outliers who shirked this pallid construct.
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          As I’ve gotten older, I’ve found myself having some huge questions
          around technology and particularly about social media. I resonate with
          the Ecclesiastical proverb that there is nothing new under the sun.
          There have always been new innovations that impact the world in
          significant ways, and we move towards them with apprehension, not
          really sure how they will impact our lives. We try to create good
          guardrails around things that are seen as dangerous. I’ve grown to
          think that the internet and aspects of technology are extremely
          dangerous and we have done very little to protect people from it.
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          Anecdotally, I have seen my own addiction to my phone have a negative
          impact in my life. It creates less drive to go build relationships and
          be with other people (which as an introvert, I need things that build
          my desire to be with others). It fills a need the way that a candy bar
          satisfies hunger. It kind of deals with the hunger, but it leaves your
          teeth and gut rotting. These things can be difficult to see, but I
          started to wake up to this reality after killing my facebook account
          during college, back in 2009. It was in removing my facebook account
          that I became painfully aware of my addiction to control how others
          perceive me. This will drive you mad or at least create an angry
          gorilla in your chest that is difficult to calm down, and you will
          unknowingly curate your pictures and posts to create a certain
          persona. I already struggled with creating a persona to my personal
          detriment. I created tales and lies about who I was to control how I
          was perceived by others, and social media just super-charged this
          power of mine. However, what I was really longing for and what I’ve
          found to quench this rumbling inside of me is being known. It’s not in
          controlling the perspective of others, but in sharing my true self, my
          struggles, what questions I am asking about reality — it is in sharing
          these things that I find my hunger satiated. In posting to social
          media, I had not been writing to share something interesting or
          valuable out of life discovery, but I was saying something so people
          would perceive me in a specific way. The problem with this is that it
          kills growth. You spend your wad on curating a persona, and your
          energy to actually go out into the world, to grow, and to try new
          things that are scary evaporates. I was left feeling violated, and not
          really knowing why.
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          For the record, think about the financial model that drives social
          media forward. Spend the most time in the app, and they make the most
          money. This seems to be a case where the open market has incentivized
          a use of technology that is inherently anti-human.
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          Let’s say that you resonate with this, and agree, what the fuck do you
          do about it? The devices we carry are a big part of the problem. I’ve
          spent the last 10 years both pondering this question and using myself
          as a case study. This is something I will continue to do, but having a
          strategy for my devices has been key, and its ironic that new
          categories of devices has actually helped me find a balance that seems
          to be moving in the right direction. This strategy has utilized a
          mixture of controlling notifications (what can get to me without my
          consent) and using devices in a very specific way. For those curious,
          here is my current strategy with some notes about when to buy new
          devices:
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          <strong>Phone</strong>: used for hotspot/camera/phone/text/email and
          not much else. This device can be old and not the latest and greatest.
          <strong>Reason for upgrading</strong>: significantly better camera.
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          <strong>Watch</strong>: used as primary device. Should be able to play
          podcasts, audiobooks, music, receive calls/texts, order an uber and
          navigation. <strong>Reason for upgrading</strong>: significantly
          better battery life (get through 2 days) or untethered from phone. The
          phone is no longer necessary once the watch is standalone. The only
          thing required to replace the phone is a solid camera that uploads
          pictures to cloud photos account.
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          <strong>Tablet</strong>: this device is for consuming media (i.e.
          Netflix, Hulu, etc..), processing ideas (i.e. notes, etc..), and light
          development work (ssh to Linux). <strong>Reason for upgrading</strong>:
          most likely just every other release cycle - don’t need latest and
          greatest but do need solid performance for dev work. The tablet should
          have personal accounts on it as well as work communication without
          notifications.
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          </strong><strong>Laptop</strong>: this is used primarily as a
          developer computer. It should not have personal accounts on it and
          should just be used for work.
        </p>
        <br />

        <p class="text-grey-darker text-base leading-loose text-lg">
          My goal is to over time depend 100% on an SSH dev environment so as to
          only need a tablet and watch at some point. I currently have a
          fujifilm X-T10, and use a TopoDesign’s hipbag as my daily carry. Since
          I don’t carry a phone with me, I bring a notepad, book, and camera to
          still get the most out of my daily outings and survive in the modern
          world.
        </p>
      </div>
{{ end }}
