{{ define "pageContent" }}
      <div class="m-8 mt-24 lg:mx-32 rounded overflow-hidden shadow-lg p-8 hover:bg-grey-lightest hover:shadow-none border-l-4 border-blue">
        <p class="text-3xl font-semibold mb-8">Lessons from API Design</p>
      </div>
{{ end }}
