{{ define "pageContent" }}
      <div class="m-8 mt-24 lg:mx-32 rounded overflow-hidden shadow-lg p-8 border-l-4 border-blue">
        <p class="text-3xl font-semibold mb-8">Zen of Writing Good Code</p>
        <ol>
          <li class="mb-4">Simple is better complex.</li>
          <li class="mb-4">Complex is better than complicated.</li>
          <li class="mb-4">Explicit is better than implicit.</li>
          <li class="mb-4">Clever is the enemy of elegant.</li>
          <li class="mb-4">The best idea wins.</li>
          <li class="mb-4">Premature optimization is when you solve problems you do not have.</li>
          <li class="mb-4">Mature optimization is when you solve problems before they become monsters.</li>
          <li class="mb-4">Our codebase is our home, make sure it stays a nice place to spend time.</li>
          <li class="mb-4">Naming is important, but it never replaces documentation.</li>
          <li class="mb-4">
            Tests are not a hipster fad, like
            <a href="https://www.mappingthejourney.com/single-post/2017/08/31/episode-8-interview-with-ryan-dahl-creator-of-nodejs/" target="_blank">nodejs</a>.
          </li>
          <li class="mb-4">Debugging is harder than writing code.</li>
          <li class="mb-4">Readable code is better than concise code.</li>
          <li class="mb-4">Always architect with a concrete problem in mind (problem should have existing code to help focus the problem).</li>
        </ol>
      </div>
{{ end }}
