<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Profsmallpine home on the interwebs</title>
  </head>
  <body>
    <h1>Base.tmpl</h1>
    {{ template "pageContent" . }}
  </body>
</html>
