<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>profsmallpine interwebs home</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <!-- NOTE: might be nice to connect nav colors to sections colors, probably need a better palette for this -->
    <div class="container mx-auto font-sans mb-24">
      <div class="flex justify-center m-8">
        <ul class="list-reset flex flex-wrap content-center">
          <li class="mr-6">
            <a class="text-blue hover:text-blue-darker text-5xl" href="#">Writing.</a>
          </li>
          <li class="mr-6">
            <a class="text-blue hover:text-blue-darker text-5xl" href="#">Photography.</a>
          </li>
          <li class="mr-6">
            <a class="text-blue hover:text-blue-darker text-5xl" href="#">Work.</a>
          </li>
        </ul>
      </div>
      {{ template "pageContent" . }}
    </div>
  </body>
</html>
